@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>
    La société GeoElec™ SA est une société privée de droit helvétique, installée à Genève.
    Elle s’appuie sur son réseau d’antennes commerciales et opérationnelles dans les différents pays pour déployer son offre
    et servir au plus près de ses clients.
</p>

<p>
    Ses unités de recherche sont situées dans plusieurs pays de l’Union Européenne. (France, Belgique notamment).
</p>

<p>
    Ses unités de production sont situées en France, Belgique, Côte d’Ivoire, Ethiopie..
</p>