@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Bruxelles<br />
    <abbr title="Phone">P:</abbr>
    +32 491 89 90 28
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:contact@geoelec.net">contact@geoelec.net</a>
</address>
