@model GeoElecMVC.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Bruxelles<br />
    <abbr title="Phone">P:</abbr>
    +32 491 89 90 28
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:contact@geoelec.net">contact@geoelec.net</a>
</address>

<div id="contact-form row">
    <form asp-controller="Home" asp-action="Contact" asp-anti-forgery="true" method="post">
        <div class="form-group">
            <div class="col-md-12 form-group">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" style="color: red"></span>
            </div>
            <div class="col-md-12 form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" style="color: red"></span>
            </div>
            <div class="col-md-12 form-group">
                <input asp-for="Subject" class="form-control" placeholder="Subject" />
                <span asp-validation-for="Subject" style="color: red"></span>
            </div>
            <div class="col-md-12 form-group">
                <textarea asp-for="Message" class="message form-control" placeholder="Your message..."></textarea>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit" id="submit">Send</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
