@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <div class="container">
        <img src="~/images/geoelec-logo.png">
        <h1>GéoElec</h1>
        <p>This app allows you to view the data of your generator.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
            <ul>
                @if(!User.Identity.IsAuthenticated)
                {
                    <li>You have to log in.</li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Member"))
                    {
                        <li>You can chose the data from your generator you want to view.</li>
                        <li>To do that, you click on the Vault button.</li>
                        <li>Then, you can filter the values of the database.</li>
                    }
                    else
                    {
                        <li>The administrator may have disabled your account, or it may be awaiting activation.</li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact the administrator to have access to your generator.</a></li>
                    }

                }
                
            </ul>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-link"></span> Helpful Link</h3>
            <ul>
                <li><a href="https://olivierhouben2000.wixsite.com/geoelec">GéoElec</a></li>
            </ul>
        </div>
    </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
        This app is under construction.
    </div>
</div>
