@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <div class="container">
        <img src="~/images/geoelec-logo.png">
        <h1>GéoElec</h1>
        <p>This app allows you to view the content of different databases.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
            <ul>
                <li>You can chose in the navigator the database you want to view.</li>
                <li>To do that, you click on the Databases list button.</li>
                <li>Then, in the list you select the name of the database.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-link"></span> Helpful Link</h3>
            <ul>
                <li><a href="https://olivierhouben2000.wixsite.com/geoelec">GéoElec</a></li>
            </ul>
        </div>
    </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
        This app is under construction.
    </div>
</div>
